name: Documentation

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: julia:1.11
    
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    
    - name: Install dependencies
      run: julia --project=docs -e 'ENV["JULIA_SSL_NO_VERIFY_HOSTS"] = "pkg.julialang.org,github.com"; using Pkg; Pkg.instantiate()'
    
    - name: Build documentation
      run: julia --project=docs docs/make.jl
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
